body {
    background: #FAEEDD;
}
.main-div {
    margin: 1%;
}

/*для описания товара для заголовка*/
.section-heading {
    margin: 0;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 500;
    position: relative;
    text-align: center;
    display: inline-block;
    color: #000;
    border: 3px solid #000;
}
/*для заголовка категорий*/
.Rsection-category {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 21px;
    line-height: 30px;
    color: #373737;
    font-family: "Roboto", sans-serif;
    margin-top: 0;
    box-sizing: border-box;
    text-align: center !important;
    font-style: normal;
}
/*Корзина*/
.basket {
    color: #999c9f;
}
    .basket:hover {
        color: #ebffff;
    }

/*Кнопка покупки*/
.btn-buy{
   color:white
}
