@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Восстановление пароля";
}

@section NavBar {
    @await Component.InvokeAsync("NavBar")
}

<h1>@ViewData["Title"]</h1>
<p>
    Пожалуйста проверьте свою почту, что бы восстановить пароль.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}