@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

@section NavBar {
    @await Component.InvokeAsync("NavBar")
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}