@model SearchViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Поиск - Енот и Панда</title>
</head>
<body>
    <br>
    <div class="row justify-content-md-center">
        <form asp-action="Index" method="post" class="form-inline">
            <input asp-for="SearchValue" class="form-control">
            <input class="btn btn-success" id="SearchButton" type="submit" value="Поиск" />
        </form>
    </div>


        <div class="row mt-5 mb-2">
            @{
                foreach (Product car in Model.getAllSearchCars)
                {
                    @Html.Partial("AllCars", car)
                }
            }
        </div>
</body>
</html>
