@model SearchViewModel

@section NavBar {
    @await Component.InvokeAsync("NavBar")
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Поиск - Енот и Панда</title>
</head>
<body>
    <br>
    <div class="row justify-content-md-center">
        <form asp-action="Index" method="post" class="form-inline">
            <input asp-for="SearchValue" class="form-control">
            <input class="btn btn-success" id="SearchButton" type="submit" value="Поиск" />
        </form>
    </div>


    <div class="row mt-5 mb-2">
        @{
            bool found = false;
            foreach (Product car in Model.getAllSearchCars)
            {
                found = true;
                @Html.Partial("AllCars", car)
            }
            if (found == false)
            {
                <div class="text-center">
                    <h1 class="display-4">Ничего не найдено</h1>
                    <br>
                    <img class="img-fluid" src="~/img/NotFound.png">
                </div>
            }
        }
    </div>

</body>
</html>
