@model ShopCartViewModel
<div class="container">
    @foreach (var el in Model.ShopCart.listShopItems)
    { 
    <div class="alert alet-warning mt-3">
        <b>Товар:</b> @el.car.Name<br />
        <b>Цена:</b> @el.car.price.ToString("c")<br />
        <a class="btn btn-danger" asp-controller="ShopCart" asp-route-id="@el.car.id" 
           asp-action="removeFromCart">Удалить</a>
    </div>
    }
    <hr/>
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>