@model OrderViewModel


@section NavBar {
    @await Component.InvokeAsync("NavBar")
}

<div class="col-3">
    <h3>Оформление заказа</h3>
    <br>
    <form asp-action="Checkout" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="Order.name"></label>
            <div class="col-12">
                <input asp-for="Order.name" class="form-control" />
                <span asp-validation-for="Order.name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Order.surname"></label>
            <div class="col-12">
                <input asp-for="Order.surname" class="form-control" />
                <span asp-validation-for="Order.surname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Order.adress"></label>
            <div class="col-12">
                <input asp-for="Order.adress" class="form-control" />
                <span asp-validation-for="Order.adress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Order.phone"></label>
            <div class="col-12">
                <input asp-for="Order.phone" class="form-control" />
                <span asp-validation-for="Order.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.email"></label>
                <div class="col-12">
                    <input asp-for="Order.email" class="form-control" />
                    <span asp-validation-for="Order.email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <input asp-action="Checkout" class="btn btn-success" type="submit" value="Завершить заказ" />
    </form>
</div>

