@model Order

@section NavBar {
    @await Component.InvokeAsync("NavBar")
}

<div class="jumbotron">
    <h1>@ViewBag.Message</h1>
    <p class="lead">Письмо для оформления оплаты отправлено вам на электронную почту. Следуйте инструкциям в письме что бы оплатить и получить заказ.</p>
    <a class="btn btn-lg btn-primary" asp-controller="Home" asp-action="Index" role="button">Вернуться на главную</a>
</div>

