@model ProductListViewModel

@section NavBar {
    @await Component.InvokeAsync("NavBar")
}
<br>
<h2 class="Rsection-category"> @Model.currCategory</h2>
<div class="row mt-5 mb-2">
    @{
        foreach (Product car in Model.getAllCar)
        {
            @Html.Partial("AllCars", car)
        }
    }
</div>

@section Scripts {

}